<h4>Formularios <small> Reactivo </small></h4>
<hr>
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

<div>

    <div class="form-group row">
    <label class="col-2 col-form-label">Nombre</label>
    <div class="col-8">

        <input class="form-control"
            type="text"
            [class.is-invalid]="nombreNoValido"
            [class.is-valid]="nombreValido"
            formControlName="nombre"
            placeholder="Nombre">
            <small class="text-danger" *ngIf="nombreNoValido">Nombre no Valido</small>
      </div>
    </div>

    <div class="form-group row">
    <label class="col-2 col-form-label">Apellido</label>
    <div class="col-8">

        <input class="form-control"
            type="text"
            [class.is-invalid]="apellidoNoValido"
            [class.is-valid]="apellidoValido"
            formControlName="apellido"
            placeholder="Apellido">
            <small class="text-danger" *ngIf="apellidoNoValido">Apellido no Valido</small>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-8">

      <input class="form-control"
             type="email"
             [class.is-invalid]="emailNoValido"
             [class.is-valid]="emailValido"
             formControlName="correo"
             placeholder="Correo electrónico">
             <small class="text-danger" *ngIf="emailNoValido">Email no Valido</small>
    </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>

<hr>
<pre>
  Estado  Formulario :{{forma.valid}}
  <br>
  Status:{{forma.status}}
</pre>

<pre>
{{forma.value |json}}

</pre>